# Discord
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
DISCORD_WEBHOOK_URL=

# Tebex
BASE_URL=https://headless.tebex.io/api
TEBEX_API_KEY=
TEBEX_SECRET_KEY=

# Webserver
PORT=3000
WEBHOOK_SECRET=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_CALLBACK_URL=

# Discord Admin Role
ADMIN_ROLE_ID=
